/*************
 *   Fonts   *
 *************/

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/centurygothic/centurygothic-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/centurygothic/centurygothic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/centurygothic/centurygothic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/centurygothic/centurygothic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/centurygothic/centurygothic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/centurygothic/centurygothic-webfont.svg#centuryGothic') format('svg'); /* Legacy iOS */
}
